<div class="overlay">
    <div class="content">
        <p>I have a special interest in learning</p>
        <div>
            <div class="skill">
                <img src="/icons/react_color.svg" alt="">
                <span>{{ 'skills.react' | translate}}</span>
            </div>
            <div class="skill">
                <img src="/icons/vuejs_color.svg" alt="">
                <span>{{ 'skills.vuejs' | translate}}</span>
            </div>
        </div>
    </div>
    <img src="/icons/arrow.svg">
</div>