<div class="content">
    <img class="feedback-img" src="/icons/feedback.svg">
    <div class="feedback">
        <p class="feedback-text">
            Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.
        </p>
        <div class="feedback-author">
            <div class="line"></div>
            <span>V. Schuster - Team Partner</span>
        </div>
    </div>
    <div class="img-box">
        <img class="img-feedback" src="/img/feedback_1.png">
        <div class="line"></div>
    </div>
</div>