@import 'variables';
@import 'components';

header {
    position: sticky;
    top: 0;
    height: 109px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color_bg;
}

.logo {
    width: 150px;
    margin-left: 100px;
}

nav {
    > a {
        font-size: 23px;
        font-weight: 400;
        color: white;
        transition: color 150ms;

        &:hover {
            color: $color_primary1;
        }
    }
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-right: 76px;

    > nav {            
        display: flex;
        gap: 29px;
        margin-right: 92px;
    }

    > div  {
        display: flex;
        gap: 14px;

        > a {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            font-size: 18px;
            font-weight: 400;

            width: 38px;
            height: 32px;

            text-align: center;
            
            transition: all 150ms;
        }
    }
}

.header-nav-container-mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    
    margin-right: 76px;
}

.overlay-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);  
    
    background-color: rgb(0,0,0,0.5);

    display: flex;
    flex-direction: column;

    &.open {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    &.close {
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 109px;
}

.overlay-close {
    width: 30px;
    
    margin-right: 76px;
}

@media (max-width: 900px) {
  .header-nav-container-mobile {
    display: flex;
  }

  .header-nav-container {
    display: none;
  }
}