.fullWidthContainer {
    width: 100%;
    background: black;
}

.mainContentContainer {
    min-height: 100vh;
    background: $color_bg;
}

.page-container {
    margin: 50px 100px;
}

@media (max-width: 900px) {    
    .page-container {
        margin: 50px 25px;  
    }
}