@use 'variables';

.fullWidthContainer {
    width: 100%;
    background: black;
}

.mainContentContainer {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background: variables.$color_bg;
}

.page-container {
    margin: 50px 100px;
}

@media (max-width: 900px) {    
    .page-container {
        margin: 50px 25px;  
    }
}