$color_bg: #141D2F;
$color_primary1: #70E61C;
$color_primary2: #9747FF;
$color_error: #E61C40;
$color_disabled: #B6B6B6;

//$max_container_width: 1440px;
$max_container_width: 1440px;
$header_height: 109px;
$footer_height: 291px;