<div class="project-container" [ngClass]="{'align-left': align === 'left', 'align-right': align === 'right'}">
    <img src="/img/project_{{project}}.png" alt="">
    <div class="project-info-box" [ngClass]="{'align-left': align === 'left', 'align-right': align === 'right'}">
        <h2>{{ 'projects.' + project | translate }}</h2>
        <div>
            <h3>{{ skills.join(' | ') }}</h3>
        </div>
        <p [ngClass]="{'align-left': align === 'left', 'align-right': align === 'right'}">
            {{ 'projects.' + project + '.description' | translate }}
        </p>
        <div class="project-btns" [ngClass]="{'align-left': align === 'left', 'align-right': align === 'right'}">
            <a><div class="btn btn-style5">Live test</div></a>
            <a><div class="btn btn-style2">Github</div></a>
        </div>
    </div>
</div>