@import 'variables';
@import 'containers';
@import 'components';

section {
    position: relative;
    width: 100%;
    min-height: calc(100vh - $header_height);
}

.title {
    position: absolute;
    right: 70px;
    top: 100px;
}

.footer {
    position: absolute;
    bottom: 60px;
    left: 0;
}

.letstalk {
    position: absolute;
    right: 400px;
    top: 400px;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 400;
}

.scrolldown {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    right: 76px;

    > span {
        color: white;
        font-size: 23px;
        font-weight: 400;
        writing-mode: tb-rl;
    }
}




@media (max-width: 1380px) {
    .letstalk {
        right: 320px;
        top: 350px;
        font-size: 23px;
    }
}

@media (max-width: 1280px) {
    .letstalk {
        right: 280px;
        top: 300px;
        font-size: 21px;
    }
}

@media (max-width: 1180px) {
    .letstalk {
        right: 220px;
        top: 300px;
        font-size: 19px;
    }
}

@media (max-width: 1080px) {
    .letstalk {
        right: 180px;
        top: 260px;
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 24px;
    }

    .title {
        position: static;
        margin: 0 auto;
        display: block;
    }

    .letstalk {
        position: static;
        margin: 0 auto;
        display: block;
    }

    .footer {
        position: static;
        margin: 0 auto;
        display: block;
        width: 100%;
        margin-bottom: 60px;
    }

    .scrolldown {
        display: none;
    }
}