@import 'variables';
@import 'containers';
@import 'components';

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero-me {
    position: block;
    top: 20px;
    left: 20px;
    margin-bottom: 80px;
}

.hero-bg {
    position: absolute;
    left: 0px;
    top: 280px;
    max-width: 100%;
}

.title {
    position: absolute;
    right: 40px;
    top: 100px;
}

.footer {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.letstalk {
    position: absolute;
    right: 260px;
    top: 320px;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 400;
}

.scrolldown {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 76px;

    > span {
        color: white;
        font-size: 23px;
        font-weight: 400;
        writing-mode: tb-rl;
    }
}