.content {
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}

.background-images {
    position: absolute;
    //left: 50%;
    //transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}

img {
    position: absolute;   
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.img-photoshadow {
    top: 70px;
    left: -42px;
    width: 671px;
}

.img3 {
    top: 750px;
    left: 1084px;
    width: 572px;
}

.img4 {
    top: 2221px;
    left: 12px;
    width: 671px;
}

.img5 {
    top: 2221px;
    left: 12px;
    width: 671px;
}

.img6 {
    top: 2221px;
    left: 12px;
    width: 671px;
}