@import 'variables';
@import 'containers';
@import 'components';

.content {
    max-width: $max_container_width;
    position: relative;
    overflow: hidden;
}

.background-images {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: $max_container_width;
    margin: 0 auto;
    z-index: 1;
}

img {
    position: absolute;   
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.img-photoshadow {
    top: 70px;
    left: -42px;
    width: 671px;
}

.hero-me {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 80px;
    width: 40vw;
    max-width: 550px;
    min-width: 380px;
    height: auto;
}

.hero-bg-container {
    position: absolute;
    left: 0px;
    top: 200px;
    width: 100%;
    height: 700px;
    overflow: hidden;

    > img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.img3 {
    top: 750px;
    left: 1084px;
    width: 572px;
}

.img4 {
    top: 2221px;
    left: -400px;
    width: 671px;
}

.img5 {
    top: 4221px;
    left: 12px;
    width: 671px;
}

.img6 {
    top: 6221px;
    left: 12px;
    width: 671px;
}

@media (max-width: 900px) {
    .hero-me {
        min-width: 360px;
        width: 60vw;
    }
    
    .hero-bg-container {
        width: 140%;
    }
}

@media (max-width: 600px) {
    .hero-me {
        min-width: 320px;
        margin-left: 40px;
    }
    
    .hero-bg-container {
        width: 140%;
    }
}

@media (max-width: 570px) {
    .hero-me {
        min-width: 320px;
        margin-left: 30px;
    }
    
    .hero-bg-container {
        width: 130%;
    }
}

@media (max-width: 500px) {
    .hero-me {
        min-width: 280px;
        margin-left: 30px;
    }

    .hero-bg-container {
        width: 115%;
    }
}