<section class="content-container">
    <div class="page-container" *ngIf="translate.currentLang === 'de'">
        <h1>Impressum</h1>
        <p><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und &sect; 14
                UGB</b>
        </p>
        <p><b>Webseitenbetreiber:</b> Markus Giesinger</p>
        <p><b>Anschrift:</b> Bahnhofstrasse 9b, 6900 Bregenz</p>
        <p><b>UID-Nr:</b> <br> <b>Gewerbeaufsichtbehörde:</b> <br> <b>Mitgliedschaften:</b></p>
        <p><b>Kontaktdaten:</b> <br> Telefon: +43 670 4020200 <br> Email: contact&#64;mgiesi.at <br> Fax: </p>

        <p><b>Anwendbare Rechtsvorschrift:</b> www.ris.bka.gv.at <br> <b>Berufsbezeichnung:</b> </p>
        <p><b>Online Streitbeilegung:</b> Verbraucher, welche in Österreich oder in einem sonstigen Vertragsstaat der
            ODR-VO
            niedergelassen sind, haben die Möglichkeit Probleme bezüglich dem entgeltlichen Kauf von Waren oder
            Dienstleistungen
            im Rahmen einer Online-Streitbeilegung (nach OS, AStG) zu lösen. Die Europäische Kommission stellt eine
            Plattform
            hierfür bereit: https://ec.europa.eu/consumers/odr</p>
        <p><b>Urheberrecht:</b> Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich möglich ist, diversen
            Schutzrechten (z.B dem Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche
            urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.</p>
        <p><b>Haftungsausschluss:</b> Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Webseitenbetreiber dieser
            Webseite
            keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren
            Betreiber verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine
            Webseite
            mit
            rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach §
            17
            Abs. 2
            ECG umgehend zu entfernen.<br>Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter
            Sorgfalt
            beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt
            umgehend
            entfernen.</p>
        <p>Quelle: <b><a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">Impressum
                    Generator
                    Österreich</a></b></p>
    </div>
    <div class="page-container" *ngIf="translate.currentLang === 'en'">
        <h1>Legal Notice</h1>
        <p><b>Information and disclosure in accordance with &sect;5 (1) ECG, &sect;25 MedienG, &sect;63 GewO and &sect;14 UGB</b></p>
        <p><b>Website operator:</b> Markus Giesinger</p>
        <p><b>Address:</b> Bahnhofstrasse 9b, 6900 Bregenz, Austria</p>
        <p><b>VAT ID No.:</b> <br> <b>Trade supervisory authority:</b> <br> <b>Memberships:</b></p>
        <p><b>Contact details:</b> <br> Phone: +43 670 4020200 <br> Email: contact&#64;mgiesi.at <br> Fax: </p>

        <p><b>Applicable legal notice:</b> www.ris.bka.gv.at <br> <b>Professional title:</b> </p>
        <p><b>Online dispute resolution:</b> Consumers domiciled in Austria or in any other Contracting State of the ODR
            Regulation have the possibility to resolve disputes concerning the purchase of goods or services for payment
            through online dispute resolution (pursuant to the ODR Regulation and AStG). The European Commission
            provides a platform for this: https://ec.europa.eu/consumers/odr</p>
        <p><b>Copyright:</b> The contents of this website are, to the extent legally possible, subject to various
            protective rights (e.g. copyright). Any use or distribution of provided materials that is prohibited under
            copyright law requires the prior written consent of the website operator.</p>
        <p><b>Disclaimer:</b> Despite careful content control, the website operator accepts no liability for the content
            of external links. The operators of the linked pages are solely responsible for their content. If you become
            aware of any outgoing links directing to websites with unlawful content or activities, please notify us so
            that we can remove them promptly in accordance with &sect;17 (2) ECG.<br>The website operator respects the
            copyrights of third parties with the greatest care. Should you nevertheless become aware of a copyright
            infringement, please notify us. Upon becoming aware of such infringements, the corresponding content will be
            removed without delay.</p>
        <p>Source: <b><a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">Impressum
                    Generator Österreich</a></b></p>
    </div>
</section>