@import 'variables';
@import 'containers';
@import 'components';

.content {
    display: flex;
    align-items: center;
}

.line {
    background-color: $color_primary2;
    height: 4px;
    width: 92px;
}

.links {
    display: flex;
    gap: 32px;
    margin: 0 32px;
}

.contact {
    color: white;
    font-size: 23px;
    font-weight: 400;
}

.link {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30px;

    &:hover {
        transform: scale(1.4);
    }
}