<div class="content">
    <div class="line"></div>
    <div class="links">
        <a href="https://github.com/mgiesi" target="_blank"><img class="link"  src="/icons/github.svg" alt="{{'footer.alt.github' | translate }}"></a>
        <a href="/"><img class="link" src="/icons/contact.svg" alt="{{'footer.alt.contact' | translate }}"></a>
        <a href="https://linkedin.com/markus.giesinger" target="_blank"><img class="link" src="/icons/linkedin.svg" alt="{{'footer.alt.linkedin' | translate }}"></a>
    </div>
    <a><span class="contact">mgiesi&#64;gmail.com</span></a>
</div>