@use 'index' as *;

section {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 50px 0;
    margin-left: 100px;
}

p {
    color: white;
}

h2 {
    color: white;
    margin-top: 24px;
    margin-bottom: 16px;
}

.filter-color {
    filter: brightness(0) saturate(100%) invert(29%) sepia(89%) saturate(1559%) hue-rotate(254deg) brightness(93%) contrast(101%);
    transition: filter 125ms ease-in-out;

    &:hover {
        filter: none;
    }
}

.line {
    height: 4px;
    background-color: $color_primary2;
    flex-grow: 1;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-info-container-mobile {
    display: none;
}

.skills-info-container-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px;
}

.skills-info-container-subheader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px;
}

.header {
    display: flex;
    align-items: center;
    margin-top: -36px;
    margin-bottom: 40px;
    width: 100%;
    gap: 1rem;

    > h1 {
        white-space: nowrap;
    }
}

.btn {
    align-self: flex-end;
    padding: 15px 30px;
    margin-top: 40px;
    font-size: 23px;
}

.overlay {
    position: absolute;
}

.continuallylearning  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 88px;

    > span {
        font-size: 16px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
}

.skills-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1280px) {
    .btn {
        font-size: 21px;
    }
}

@media (max-width: 1180px) {
    .btn {
        font-size: 19px;
    }
}

@media (max-width: 1080px) {
    .btn {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .skills-grid {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    section {
        flex-direction: column;
    }

    .skills-info-container-mobile {
        display: flex;
        flex-direction: column;
    }

    .skills-container {
        justify-content: center;
        margin-right: 100px;
    }

    .skills-info-container {
        > .header {
            display: none;
        }

        > .skills-info-container-content {
            display: none;
        }
    }

    .skills-grid {
        gap: 40px;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 900px) {
    section {
        margin-left: 25px;
    }

    .skills-container {
        margin-right: 25px;
    }

    .skills-info-container-content {
        margin-right: 25px;
    }

    .skills-info-container-subheader {
        margin-right: 25px;

        > div {
            align-self: center;
        }
    }
}

@media (max-width: 700px) {    
    .skills-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {   
    section {
        gap: 40px;
    } 
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {    
    .skills-grid {
        gap: 8px;
    }
}