@import 'variables';
@import 'containers';
@import 'components';

section {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: 50px 0;
    margin-left: 100px;

    >div {
        display: flex;
    }
}

p {
    color: white;
}

h2 {
    color: white;
    margin-top: 24px;
    margin-bottom: 16px;
}

td {
    padding-right: 40px;
    padding-bottom: 40px;
}

.filter-color {
    filter: brightness(0) saturate(100%) invert(29%) sepia(89%) saturate(1559%) hue-rotate(254deg) brightness(93%) contrast(101%);
    transition: filter 0.2s ease-in-out;

    &:hover {
        filter: none;
    }
}

.line {
    height: 4px;
    background-color: $color_primary2;
    flex-grow: 1;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills-info-container-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 100px;;
}

.header {
    display: flex;
    align-items: center;
    margin-top: -36px;
    margin-bottom: 40px;
    width: 100%;
    gap: 1rem;

    > h1 {
        white-space: nowrap;
    }
}

.btn {
    align-self: flex-end;
    padding: 15px 30px;
    margin-top: 40px;
}

.overlay {
    position: absolute;
}

.continuallylearning  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 88px;

    > span {
        font-size: 16px;
        font-weight: 700;
        color: white;
        text-align: center;
    }
}