@import 'variables';
@import 'containers';
@import 'components';

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
}

.content {
    background-color: white;
    border-radius: 20px;
    padding: 8px 10px;

    > p {
        margin-bottom: 8px;
        text-align: center;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 88px;

    > span {
        font-size: 12px;
        font-weight: 700;
        color: black;
        text-align: center;
    }
}

