@use 'index' as *;

footer {
    height: $footer_height;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $color_bg;
    border-top: 4px solid $color_primary1;
}

span {
    color: white;
    font-size: 23px;
    font-weight: 400;
}

a {
    color: white;
    font-size: 16px;
    font-weight: 400;

    &:hover .line {
        border-bottom: 2px solid $color_primary1;
    }
}

.line {
    position: relative;
    width: 25%;
    height: 100%;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all 125ms ease-in-out;
}

.mobile-only {
    display: none;
}

.footer-content-1 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.logo {
    width: 216px;
    margin-bottom: 5px;
}

.link {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.4);
    }
}

.footer-content-3 {
    display: flex;
    gap: 42px;
    margin-right: 100px;
}

@media (max-width: 1200px) {    
    span {
        font-size: 21px;
    }
}

@media (max-width: 1000px) {    
    span {
        font-size: 19px;
    }
}

@media (max-width: 900px) {
    footer {
        flex-direction: column;
        justify-content: flex-start;
        height: 380px;
    }

    .mobile-only {
        display: inherit;
    }

    .desktop-only {
        display: none;
    }

    .footer-content-1 {
        margin-left: 0;
        margin-top: 66px;
        margin-bottom: 54px;

        >img {
            width: 216px;
        }
    }

    .footer-content-3 {
        display: flex;
        gap: 42px;
        margin-right: 0;
        margin-top: 23px;
        margin-bottom: 23px;
    }


}