.circle {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, 
                              #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
                              border-radius: 50%;

    width: 100%;
    height: 100%;;
}